<% layout('layouts/boilerplate') -%>

<h1 class="text-center">Welcome to ShareBlog</h1>

<div class="d-flex justify-content-between flex-wrap">
    <a href="/articles">View Articles</a>
    <a href="/login">Login/Register</a>
</div>